<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="Clickbus/Cashmachine/bootstrap.php"
    cacheTokens="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    debug="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    printerClass="PHPUnit_TextUI_ResultPrinter"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    timeoutForLargeTests="60"
    timeoutForMediumTests="10"
    timeoutForSmallTests="1"
    verbose="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
>
	<testsuites>
		<testsuite name="Clickbus - Cash Machine">
			<directory phpVersion="5.4" phpVersionOperator="&gt;=" suffix=".php">Clickbus/Cashmachine/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../src/</directory>
		</whitelist>
	</filter>

	<logging>
		<log charset="UTF-8" highLowerBound="70" highlight="false" lowUpperBound="35" target="report" type="coverage-html"/>
		<log target="coverage.xml" type="coverage-clover"/>
		<log target="coverage.serialized" type="coverage-php"/>
		<log showUncoveredFiles="false" target="php://stdout" type="coverage-text"/>
		<log target="logs/logfile.json" type="json"/>
		<log target="logs/logfile.tap" type="tap"/>
		<log logIncompleteSkipped="false" target="logs/logfile.xml" type="junit"/>
		<log target="logs/testdox.html" type="testdox-html"/>
		<log target="logs/testdox.txt" type="testdox-text"/>
	</logging>

</phpunit>